﻿﻿@{
    ViewData["Title"] = "Become Owner";
    @model CreateOwnerModel
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_BecomeOwnerPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}