﻿
@{
    @model PhoneEditFormModel
    ViewData["Title"] = "Edit Phone";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_PhoneEditFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}