@model CommentAddModel

<!DOCTYPE html>
<html>
<head>
    <title>Add Comment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Add Comment</h2>
        <hr />
        <div id="addCommentFormContainer">
            <partial name="_AddCommentPartial" model="@Model" />
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $.get('@Url.Action("AddCommentPartial", "Comment")', function (data) {
                $('#addCommentFormContainer').html(data);
            });
        });
    </script>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}